// ==================== BREAKPOINTS ====================
$mobilex: 375px;
$mobilexl: 480px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopL: 1200px;
$desktopLS: 1440px;
$desktopXL: 1600px;
$desktopXXL: 1920px;
$desktopXXXL: 2000px;

// ==================== COLORS ====================
$blanco : #f8fcfc;
$negro : #000;
$azul-1: #34dbd3;

// ==================== FONTS ====================
$fuente-1: "Montserrat", sans-serif;

// ==================== FONT WEIGHTS ====================
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;